#upstart takes care of this
daemonize no

pidfile /var/run/redis.pid
port {{ redis_port }}
timeout 0
loglevel notice
logfile /var/log/redis.log
dir /var/db/redis/

{% if redis_password %}

requirepass {{ redis_password }}

{% endif %}